html {
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #6284FF 0%, #62FF8E 50%, #FFDD62 100%);
  color: #FF62D3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 10px;
  font-family: Manrope, Verdana, sans-serif;
}

img {
  height: auto;
  width: 400px;
}


.korean-flag {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#homediv {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  align-content: stretch

}

#recipediv{
  width: 50%;
}

#homeh1{
  text-align: center;
}

ul {
  list-style-type: none;
}

h1 {
  font-weight: 800px;
}

p a {
  color: #FF62D3;
  text-decoration: none;
  border-bottom: 1px solid;
}


/* unvisited link */
a:link {
  color: #FF62D3;
}

/* visited link */
a:visited {
  color: #FF62D3;
}

/* mouse over link */
a:hover {
  color: #FF62D3;
}

/* selected link */
a:active {
  color: #FF62D3;
}