*{
  border: 3px solid #FF62D3;
}

html {
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #6284FF 0%, #62FF8E 50%, #FFDD62 100%);
  color: #FF62D3;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: Manrope, Verdana, sans-serif;
}

.korean-flag {
  margin: auto;
  display: flex;
}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

#homediv {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
}

#homeh1{
  text-align: center;
  font-weight: 950px;
}

.flexitems {
  flex: 1;
}

ul {
  list-style-type: none;
}

h1 {
  font-weight: 800px;
}

p a {
  color: #FF62D3;
  text-decoration: none;
  border-bottom: 1px solid;
}


/* unvisited link */
a:link {
  color: #FF62D3;
}

/* visited link */
a:visited {
  color: #FF62D3;
}

/* mouse over link */
a:hover {
  color: #FF62D3;
}

/* selected link */
a:active {
  color: #FF62D3;
}

footer {
  text-align: center;
  margin-top: 150px;
}